@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ovo&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100vw;
    max-height: 100vw;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
}

.landing {
    display:flex;
    width: 100%;
    max-width: 100vw;
    max-height: 100vw;
    margin: 0 auto;
}

h1 {
    color: rgb(26, 32, 44);
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
    color: rgb(36, 62, 99);
}

/*NAVIGATION*/

.nav__row {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
    padding: 0;
}

.nav__logo--image {
    width: 40px;
    height: 40px;
    object-fit: fill;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: .6px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #243e63;
}

.nav__links {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #243e63;
    align-items: center;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
}
.nav__link {
    padding-top: 4px;
    padding: 0;
    letter-spacing: .35px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin: 0 24px;
    display: inline;
    text-decoration: none;
    box-sizing: border-box;
}

.nav__link--primary {
    border: none;
    background-color: #6415ff;
    color: #fff;
    box-sizing: border-box;
    padding: 12px 40px;
    border-radius: 40px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

h1 {
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: left;
    font-size: 48px;
}

.header__description--para {
    margin-top: 32px;
    margin-bottom: 32px;
}

.purple {
    color: #6415ff;
}

.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

.header__email {
    border: solid 2px rgb(215, 212, 212);
    height: 80px;
    margin-top: 16px;
    margin-bottom: 64px;
    border-radius: 200px;
    padding: 20px;
    color: rgb(104, 103, 103);
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .header__email--button {
    border: none;
    background-color: #6415ff;
    color: #fff;
    box-sizing: border-box;
    padding: 12px 40px;
    border-radius: 40px;
  }
.customer__title {
    color: rgb(160, 174, 192);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 36px;
    margin-bottom: 16px;
}
    
.header__image--wrapper {
    width: calc(100%-40%);
    box-sizing: border-box;
}

.customer__info--design {
    height: 400px;
    width: 600px;
}

.customer__info--logos {
    width: 100%;
    box-sizing: border-box;
}


/*FEATURES*/

#features {
    width:100%;
    max-width: 1200;
    padding: 24px;
    margin: 32px;
}

.features__heading {
    padding: 0 auto;
    margin-bottom: 36px;
    text-align: center;
}

h2 {
    font-size: 36px;;
}

.feature__heading {
    font-weight: 900;
    font-size: 64px;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.feature__heading--para {
    font-size: 36px;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 32px;
    margin-bottom: 16px;
}









 



